name: Integration Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pure_env:
          - 'pure'
          - 'impure'

    steps:
      - name: Set workflow variables
        id: vars
        run: |
          echo "TEST_NIX_PACKAGE=hello" >> $GITHUB_OUTPUT
          echo "TEST_HOST_PACKAGE=perl" >> $GITHUB_OUTPUT

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Test that ${{ steps.vars.outputs.TEST_NIX_PACKAGE }} is not available outside of nix shell
        run: |
          if command -v ${{ steps.vars.outputs.TEST_NIX_PACKAGE }}; then
            echo "'${{ steps.vars.outputs.TEST_NIX_PACKAGE }}' command should not be available outside of nix shell"
            exit 1
          fi
          echo "'${{ steps.vars.outputs.TEST_NIX_PACKAGE }}' command is not available outside of nix shell"

      - name: ${{ steps.vars.outputs.TEST_HOST_PACKAGE }} should be available outside of nix shell
        run: |
          if ! command -v ${{ steps.vars.outputs.TEST_HOST_PACKAGE }}; then
            echo "${{ steps.vars.outputs.TEST_HOST_PACKAGE }} should be available outside of nix shell"
            exit 1
          fi
          echo "${{ steps.vars.outputs.TEST_HOST_PACKAGE }} is available outside of nix shell"

      - name: Set a test variable
        run:
          echo "TEST_ENV_KEEP=kept-var" >> $GITHUB_ENV

      - name: Switch into Nix Shell
        uses: ./
        with:
          nix_args: ''
          install_nix: 'true'
          pure_env: "${{ matrix.pure_env == 'pure' && 'true' || 'false' }}"
          env_keep: 'TEST_ENV_KEEP'
          bin_keep: '/usr/bin/docker'

      - name: Verify Environment Variables
        run: |
          echo "TEST_ENV_VAR is: $TEST_ENV_VAR"
          echo "ANOTHER_VAR is: $ANOTHER_VAR"
          if [ "$TEST_ENV_VAR" != "Hello from Nix Shell" ]; then
            echo "TEST_ENV_VAR is not set correctly"
            exit 1
          fi
          if [ "$ANOTHER_VAR" != "Another variable" ]; then
            echo "ANOTHER_VAR is not set correctly"
            exit 1
          fi
          echo "Environment variables are set correctly"

      - name: Test Nix Package Availability
        run: |
          echo "Checking if ${{ steps.vars.outputs.TEST_NIX_PACKAGE }} command is available..."
          if ! command -v ${{ steps.vars.outputs.TEST_NIX_PACKAGE }}; then
            echo "'${{ steps.vars.outputs.TEST_NIX_PACKAGE }}' command is not available"
            exit 1
          fi
          echo "'${{ steps.vars.outputs.TEST_NIX_PACKAGE }}' command is available"
          echo "Running 'hello' command:"
          ${{ steps.vars.outputs.TEST_NIX_PACKAGE }}

      - name: ${{ steps.vars.outputs.TEST_HOST_PACKAGE }} should ${{ matrix.pure_env == 'pure' && 'not ' || '' }}be available in the nix shell
        run: |
          if ${{ matrix.pure_env == 'impure' && '!' || ''}} command -v ${{ steps.vars.outputs.TEST_HOST_PACKAGE }}; then
            echo "${{ steps.vars.outputs.TEST_HOST_PACKAGE }} should ${{ matrix.pure_env == 'pure' && 'not ' || '' }}be available in the nix shell"
            exit 1
          fi
          echo "${{ steps.vars.outputs.TEST_HOST_PACKAGE }} is ${{ matrix.pure_env == 'pure' && 'not ' || '' }}available in the nix shell"

      - name: GITHUB_ variables should still be set
        run: |
          if [[ $GITHUB_ACTIONS != 'true' ]]; then
            echo "GITHUB_ variables should still be set"
            exit 1
          fi
          echo "GITHUB_ variables are still set"

      - name: Variables specified in env_keep should still be set
        run: |
          if [[ $TEST_ENV_KEEP != 'kept-var' ]]; then
            echo "TEST_ENV_KEEP should still be set"
            exit 1
          fi
          echo "TEST_ENV_KEEP is still set"

      - name: Binaries specified in bin_keep should still be available
        run: |
          if ! command -v docker; then
            echo "docker should still be available"
            exit 1
          fi
          echo "docker is still available"
